// Base Styles
html, body {
  font-family: $font-base, serif;
  p {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    color: $first_color;
    line-height: 2rem;
  }
}
h1 {
  font: 4rem/4rem $font-titles, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1rem 0 0 0;
}
a {
  text-decoration: none;
  color: $second_color;
  &:hover {
    color: $third_color;
    transition: all .30s ease;
  }
}
button {
  font-size: 1rem;
  color: #FFF;
  background-color: $second_color;
  padding: 0.5rem;
  border: 0 none;
  border-radius: 0.1rem;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .1);
  margin-left: 5%;
  margin-bottom: 5%;
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .1);
  }
  &:focus {
    outline: none;
  }
}

.large {
  font-size: 2rem;
  color: $third_color;
  &:hover, &:focus {
  color: $fifth-color;
  outline: none;
  }
}

.extra_large {
  font-size: 2.3rem;
  color: white;
  outline: none;
}

.text_shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
button a {
  color: #FFF;
}
