// Base fonts from google fonts

$font-base: 'Vollkorn';
$font-titles: 'Unica One';

// Base Colors sampled from the skateboard image

$first_color:  #204B58;  //deep ocean blue
$second_color: #2DABAB;  //grayish blue
$third_color:  #F5930B;  //vivid sunlight orange
$fourth_color: #F1BD0C;  //soft yellow peach
$fifth_color:  #FF5D05;  //deep pumpkin orange

