// Layout for the site
.outer_container{
  width: 90%;
}
.full-image {
  width: 100%;
  height: auto;
}
// hide the arrow down icon that allows scrolling of the page on desktop
.display_none {
  display: none;
}
.large {
  font-size: 2rem;
  color: $third_color;
  &:hover, &:focus {
    color: $fifth-color;
    outline: none;
  }
}
.extra_large {
  font-size: 2.3rem;
  color: white;
  outline: none;
}
a .bottom_next {
  margin: 1rem auto;
}
footer {
  background-color: white;
  p {
    font-size: 1rem;
    text-align: center;
    color: $first-color;
    padding-top: 1rem;
  }
}
