/*  ----Responsive Grid System Custom Configure by Jay Diran Sweet, using the 2, 3, 4 column grid set up----  */
/*  ----SECTIONS----  */

.section {
  clear: both;
  padding: 0;
  margin: 0;
}
/*  ----COLUMN SETUP----  */

.col {
  display: block;
  float: left;
  margin: 1% 0 3.3% 1.6%;
}
.col:first-child {
  margin-left: 0;
}
/*  ----GROUPING----  */

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
/*  ----GRID OF TWO----  */

.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}
/*  ----GRID OF THREE----  */

.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}
/*  ----GRID OF FOUR----  */

.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.6%;
}
.span_2_of_4 {
  width: 49.2%;
}
.span_1_of_4 {
  width: 23.8%;
}
/*  ----GO FULL WIDTH AT LESS THAN 480 PIXELS---- */

@media only screen and (max-width: 768px) {
  .splash_title {
    h1 {
    font: 2rem/2rem $font-titles, sans-serif;
    padding: 10rem 1rem 0 2rem;
    }
    h2 {
      font: 1.5rem/1.8rem $font-base, sans-serif;
      padding: 1rem 1rem 3rem 2rem;
      max-width: 75%;
    }
  }

  .nav_logo {
    font-size: 1.7rem;
  }

  .recent_work {
  margin: 0 auto;
  padding: 5rem 1rem 1rem;
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.2rem;
    padding-bottom: .5rem;
  }
  p {
    font-size: .7rem;
    line-height: 1.1rem;
  }
}

  .article_post {
    padding: 1.5rem;
    h1 {
      font-size: 1.8rem;
      line-height: 2rem;
      padding-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

  footer p {
    font-size: .8rem;
    padding-top: 1rem;
    a {
      text-decoration: underline;
    }
  }

  .col {
    margin: 1% 0 3.3% 1.6%;
  }
  /*  ----GRID OF FOUR INTO GRID OF TWO----  */

  .span_1_of_2 {
    width: 49%;
    margin: 1% 0 1% 2%;
  }
  .span_1_of_2:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
  }
}


@media only screen and (max-width: 480px) {
  .splash_title {
    h1 {
    font: 1.8rem/2rem $font-titles, sans-serif;
    padding: 7rem 1.5rem 0 1.5rem;
    }
    h2 {
      font: 1.1rem/1.4rem $font-base, sans-serif;
      padding: 1rem 1.5rem 3rem 1.5rem;
      max-width: 80%;
    }
  }

  .display_none {
    display: inline;
    margin-left: 40%;
  }

  .text_shadow {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .recent_work {
  margin: 0 auto;
  padding: 5rem 1rem 1rem;
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.2rem;
    padding-bottom: .5rem;
  }
  p {
    font-size: .7rem;
    line-height: 1.1rem;
  }
}

.contact_post {
  .shell {
    width: 90%;
    margin: 0 auto;
  }
  span {
    padding-right: .25rem;
  }
  h1 {
    font-size: 1.2rem;
    padding: 1.5rem 1rem 0;
  }
  li {
    padding-bottom: 1rem;
    font-size: .8rem;
  }
  ul {
    padding-bottom: 2rem;
  }
  a {
    text-decoration: underline;
  }
  .extra_large {
  font-size: 2rem;
  color: $second-color;
  }
  .small {
  font-size: 1.3rem;
  color: $second-color;
  padding-left: 1.5rem;
  }
}
  footer p {
    font-size: .8rem;
    padding-top: 1rem;
    a {
      text-decoration: underline;
    }
  }

  .nav_logo {
    font-size: 1.1rem;
    margin-top: -1.4rem;
  }
  .large {
  font-size: 1.4rem;
  }

  .col {
    margin: 2% 0 4% 0;
  }
  /*  ----GRID OF TWO----  */

  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 100%;
  }
  /*  ----GRID OF THREE----  */

  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }
  /*  ----GRID OF FOUR----  */

  .span_4_of_4 {
    width: 100%;
  }
  .span_3_of_4 {
    width: 100%;
  }
  .span_2_of_4 {
    width: 100%;
  }
  .span_1_of_4 {
    width: 100%;
  }
}
