.recent_work {
  margin: 0 auto;
  padding: 8rem 1rem 2rem;
  h1 {
    font-size: 2rem;
    color: $first-color;
  }
  h2 {
    font-size: 1.3rem;
    color: $third-color;
    width: 90%;
    margin: 0 auto;
    padding-bottom: .5rem;
    text-transform: uppercase;
    font-family: $font-titles;
  }
  p {
    margin: 0 auto;
    font-size: 0.9rem;
    line-height: 1.3rem;
    width: 90%;
    color: $first-color;
  }
  img {
    width: 100%;
    padding-bottom: 5%;
    margin: 0 auto;
    &:focus, &:hover {
      transition: all .30s ease;
      opacity: .8;
      cursor: pointer;
      z-index: 5;
    }
  }
}
.recent_description {
  display: block;
  p {
    font-size: 1.1rem;
    width: 90%;
    margin: 0 auto;
  }
}



